<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="de.thm.thmflashcards">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label="@string/detail_activity_label" />

        <activity
            android:name=".AddCardActivity"
            android:label="@string/add_card_activity_label"
            />

        <activity
            android:name=".ViewImageActivity"
            android:label="@string/view_image_activity_label"
            />

        <activity android:name=".SettingsActivity" android:label="@string/settings_activity_label" />

        <service android:name=".ReminderService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.thm.thmflashcards.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>
